.App {
  text-align: center;
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-content: center */
}

#header-div{
  height: 15vh;
  background-color: aquamarine
}

#header{
  height: 10vh
}

.house-holder{
  display: flex;
  justify-content: space-around
}

.houses{
  display: flex;
  height: 300px;
  width: 700px;
  background-color: aquamarine;
  justify-content: space-around;
  border: 3px black
  
}

.houses-text{
  color: magenta;

}

#houses-delete-button{
  height: 20px;
  width: 20px
}
